.spinner{
    display: flex;
    justify-content: center;
    margin-top: 12%;
}

.spinning{
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}